/* src/index.css */

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  
  display: block !important; 
  place-items: unset !important;
  min-width: 0 !important;
  
  background-color: #f8fafc;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}